<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
Welcome to my simple twitter predictor. Please use the buttons below to navigate to the different pages!
<br>
<button onclick="window.location='http://127.0.0.1:5000/test'">Test</button>
<button onclick="window.location='http://127.0.0.1:5000/user'">Add Users to the database</button>
<button onclick="window.location='http://127.0.0.1:5000/predict_author'">Predict some tweets!</button>
<button onclick="window.location='http://127.0.0.1:5000/reset'">RESET EVERYTHING</button>
<br>
</body>
<script src="../static/landing.js"></script>
</html>