<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
Here you can add users to the database! Please enter the user you would like to add and press the "Add User" button!<br>
When the text box is cleared that means the user was added successfully!
</body>
<br>
<form>
  <label for="handle">Twitter Handle:</label><br>
  <input type="text" id="handle" name="handle"><br>
  <input type="submit" value="Add User">
</form>
<br>
<br>
<button onclick="window.location='http://127.0.0.1:5000/'">Back to landing</button>
</html>